<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link
		rel="stylesheet"
		data-original-href="https://bootswatch.com/4/darkly/bootstrap.min.css"
		href="./dependencies/bootstrap-darkly.css"
	/>
	<style>
		body .custom-file-label::after {
			top: -1px;
			bottom: -1px;
			right: -1px;
			height: auto;
			border: inherit;
		}
		.tile-link {
			border-style: solid;
			border-width: 4px;
			appearance: none;
			background-color: transparent;
			border-radius: 0;
			padding: 0;
			line-height: 0;
		}
	</style>
	<title>MAGE GAME DATA TOOL</title>
</head>
<body>
	<div id="app">
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<div
						class="
							card
							mb-3
						"
					>
						<div class="card-header">
							Drag your `scenario_source_files` folder to the button
						</div>
						<div class="card-body">
							<p>Drag your <code>scenario_source_files</code> to this button!</p>
							<div class="form-group">
								<div class="custom-file">
									<input
											type="file"
											:key="uniqueEncodeAttempt"
											id="drag_target"
											class="custom-file-input"
											multiple
											directory
											webkitdirectory
											@input="handleChange"
									/>
									<label class="custom-file-label" for="drag_target">Choose file</label>
								</div>
							</div>
							<div
								v-if="isLoading"
								class="alert alert-dismissible alert-secondary"
							>
								<h2>Loafing</h2>
								<p>THINKING SO HARD ABOUT ENCODING THE BINARY</p>
							</div>
							<div
								v-if="error"
								class="alert alert-danger"
							>
								<button
									type="button"
									class="close"
									data-dismiss="alert"
									@click="closeError"
								>×</button>
								<h2>Oh bother.</h2>
								<pre
									style="white-space: pre-wrap;"
								>{{error}}</pre>
								<p>Change a few things up and try dragging your <strong>scenario_source_files</strong> folder in again.</p>
							</div>
							<div
								v-if="downloadData"
								class="alert alert-secondary"
							>
								<button
									type="button"
									class="close"
									data-dismiss="alert"
									@click="closeSuccess"
								>×</button>
								<h2>Success!</h2>
								<p>Your scenario files were successfully build into a binary asset file that should be able to run in the game.</p>
								<div>
									<a
										v-bind="downloadData"
										class="
											btn
											btn-lg
											btn-success
											btn-block
											w-100
										"
									>Download <code>game.dat</code></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<entity-type-editor
				v-if="scenarioData"
				:file-name-map="fileNameMap"
				:scenario-data="scenarioData"
			></entity-type-editor>
			<editor-scripts
				v-if="scenarioData"
				:file-name-map="fileNameMap"
				:scenario-data="scenarioData"
			></editor-scripts>
		</div>
	</div>
	<script
		type="text/x-template"
		id="template-tiled-tile"
	>
		<span
			class="tiled-tile"
			:style="outerStyle"
			:title="`tileid: ${tileid}`"
		>
			<span
				:style="innerStyle"
			></span>
		</span>
	</script>
	<script
		type="text/x-template"
		id="template-entity-type-editor"
	>
		<div
			class="
				entity-type-editor
				card
				text-white
				mb-3
			"
		>
			<div class="card-header">Entity Type Editor</div>
			<div class="card-body">
				<div
					v-if="needsSave"
					class="
						alert
						alert-danger
						alert-dismissible
						fade
						show
					"
					role="alert"
				>
					<strong>Unsaved changes!</strong>
					<span>You can click the "Copy" button to the right to put the current state of all entityTypes on your clipboard, then paste it into your `<strong>entity_types.json</strong>` file to save.</span>
					<button
						type="button"
						class="close"
						title="Copy"
						@click="copyState"
					>
						<span aria-hidden="true">📋</span>
					</button>
					<textarea
						cols="80"
						rows="16"
						class="position-absolute"
						style="
							font-size: 0;
							opacity: 0;
						"
						ref="copyStateTextArea"
					>{{ jsonOutput }}</textarea>
				</div>
				<div class="form-group">
					<label for="currentEntityTypeId">Entity Types:</label>
					<select
						class="form-control"
						id="currentEntityTypeId"
						v-model="currentEntityTypeId"
					>
						<option
							value=""
						>Select an entityType</option>
						<option
							v-for="entityType in entityTypes"
							:key="entityType.type"
							:value="entityType.type"
						>{{ entityType.type }}</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<input
						type="text"
						class="form-control"
						placeholder="Create new entityType"
						aria-label="Create new entityType"
						aria-describedby="add-entity-type"
						v-model="newEntityTypeId"
					>
					<div class="input-group-append">
						<button
							class="btn btn-primary"
							type="button"
							id="add-entity-type"
							@click="addEntityType"
						>Create</button>
					</div>
				</div>
				<div
					v-if="currentEntityType"
					:key="currentEntityTypeId"
					class="
						card
						text-white
						bg-secondary
						mb-3
					"
				>
					<div class="card-header">Current EntityType: {{ currentEntityType.type }}</div>
					<div class="card-body">
						<div class="row">
							<div
								v-if="tileset"
								:key="tileset.filename"
								class="animations col-12 col-lg-6"
							>
								<h5>Animations</h5>
								<table
									class="
										text-center
										table-bordered
										table-dark
									"
								>
									<thead>
										<tr>
											<th
												v-for="direction in $options.directions"
											>{{ direction }}</th>
											<th>❌</th>
										</tr>
									</thead>
									<tbody>
										<template
											v-for="(animation, animationName) in currentEntityType.animations"
										>
											<tr>
												<th colspan="4">{{ animationName }}</th>
												<td>
													<button
														class="badge btn btn-block btn-outline-danger"
														@click="deleteAnimation(animationName)"
													>❌</button>
												</td>
											</tr>
											<tr
												:key="animationName"
											>
												<td
													v-for="(direction, directionIndex) in animation"
													:key="directionIndex"
												>
													<div>
														<button
															class="tile-link d-inline-flex"
															:class="(
																(currentAnimationName === animationName)
																&& (currentAnimationDirection === directionIndex)
															)
																? 'border-success'
																: 'border-secondary'
															"
															@click="clickDirection(animationName, directionIndex)"
														>
															<tiled-tile
																:key="direction.tileid"
																:tileset="tileset"
																:tileid="direction.tileid"
																:style="{
																	transform: `scale(${direction.flip_x?'-':''}1, ${direction.flip_y?'-':''}1)`
																}"
															></tiled-tile>
														</button>
														<div>
															<button
																class="btn badge"
																:class="direction.flip_x ? 'badge-success' : 'badge-secondary'"
																@click="flip(animationName, directionIndex, 'flip_x')"
																title="Flip X"
															>⬌</button>
															<button
																class="btn badge"
																:class="direction.flip_y ? 'badge-success' : 'badge-secondary'"
																@click="flip(animationName, directionIndex, 'flip_y')"
																title="Flip Y"
															>⬍</button>
														</div>
													</div>
												</td>
											</tr>
										</template>
									</tbody>
								</table>
								<div
									v-if="Object.keys(currentEntityType.animations).length < 7"
									class="pt-3"
								>
									<button
										class="btn btn-block btn-outline-success"
										@click="addAnimation"
									>Add Animation</button>
								</div>
							</div>
							<div class="tileset col-12 col-lg-6">
								<h5>Tileset: {{ currentEntityType.tileset }}</h5>
								<div class="form-group">
									<label for="currentTileset">Tileset:</label>
									<select
										class="form-control"
										id="currentTileset"
										v-model="currentEntityType.tileset"
									>
										<option
											value=""
										>Select a tileset</option>
										<option
											v-for="tileset in allTilesets"
											:key="tileset.filename"
											:value="tileset.filename"
										>{{ tileset.filename }}</option>
									</select>
								</div>
								<table
									v-if="tileset"
									:key="tileset.filename"
									class="table-dark table-bordered"
									style="line-height: 0;"
								>
									<tbody>
									<tr
										v-for="(badY, y) in Math.floor(tileset.tilecount / tileset.columns)"
									>
										<td
											v-for="(badX, x) in tileset.columns"
										>
											<button
												class="tile-link d-inline-flex"
												:class="(currentTileId === ((y * tileset.columns) + x))
													? 'border-success'
													: 'border-secondary'
												"
												@click="clickTile((y * tileset.columns) + x)"
											><tiled-tile
												:tileset="tileset"
												:tileid="(y * tileset.columns) + x"
											></tiled-tile></button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script
		type="text/x-template"
		id="template-editor-scripts"
	>
		<div
			class="
				editor-script
				card
				text-white
				mb-3
			"
		>
			<div class="card-header">Script Editor</div>
			<div class="card-body">
				<div
					v-if="needsSave"
					class="
						alert
						alert-danger
						alert-dismissible
						fade
						show
					"
					role="alert"
				>
					<strong>Unsaved changes!</strong>
					<span>You can click the "Copy" button to the right to put the current state of all entityTypes on your clipboard, then paste it into your `<strong>entity_types.json</strong>` file to save.</span>
					<button
						type="button"
						class="close"
						title="Copy"
						@click="copyState"
					>
						<span aria-hidden="true">📋</span>
					</button>
					<textarea
						cols="80"
						rows="16"
						class="position-absolute"
						style="
							font-size: 0;
							opacity: 0;
						"
						ref="copyStateTextArea"
					>{{ jsonOutput }}</textarea>
				</div>
				<div class="form-group">
					<label for="currentScriptFileName">Script Files:</label>
					<select
						class="form-control"
						id="currentScriptFileName"
						v-model="currentScriptFileName"
					>
						<option
							value=""
						>Select a script</option>
						<option
							v-for="(script, scriptFileName) in scenarioData.scriptsFileItemMap"
							:key="scriptFileName"
							:value="scriptFileName"
						>{{ scriptFileName }}</option>
					</select>
				</div>
				<div
					v-if="currentScriptFileName"
				>
					<div
						v-for="(scriptName, index) in current.scriptFiles[currentScriptFileName]"
					>
						<editor-script
							:script-name="scriptName"
							:file-name="currentScriptFileName"
							:index="index"
							:file-name-map="fileNameMap"
							:scenario-data="scenarioData"
							:current-data="current"
						></editor-script>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script
		data-original-src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"
		src="./dependencies/vue.js"
	></script>
	<script
		data-original-src="https://wzrd.in/standalone/fast-png@5.0.4"
		src="./dependencies/fast-png.js"
	></script>
	<script
		data-original-src="https://wzrd.in/standalone/omggif@1.0.10"
		src="./dependencies/omggif.js"
	></script>
	<script src="js/editor-entity_types.js"></script>
	<script src="js/editor-scripts.js"></script>
	<script src="js/editor-script.js"></script>
	<script src="js/editor-action.js"></script>
	<script src="js/common.js"></script>
	<script src="js/maps.js"></script>
	<script src="js/tilesets.js"></script>
	<script src="js/animations.js"></script>
	<script src="js/entity_types.js"></script>
	<script src="js/portraits.js"></script>
	<script src="js/entities.js"></script>
	<script src="js/geometry.js"></script>
	<script src="js/strings.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/dialogs.js"></script>
	<script src="js/serial_dialogs.js"></script>
	<script src="js/images.js"></script>
	<script src="js/encoding.js"></script>
	<script src="js/index.js"></script>
</body>
</html>
