<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link
		rel="stylesheet"
		data-original-href="https://bootswatch.com/4/darkly/bootstrap.min.css"
		href="./dependencies/bootstrap-darkly.css"
	/>
	<title>MAGE GAME DATA TOOL</title>
</head>
<body>
	<div id="app">
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							Drag your `scenario_source_files` folder to the button
						</div>
						<div class="card-body">
							<div
							>
								<label>Drag your <code>scenario_source_files</code> to this button!
									<input
										:key="uniqueEncodeAttempt"
										id="drag_target"
										class="
											btn
											btn-block
											btn-primary
											btn-lg
											p-5
										"
										type="file"
										name=""
										content="Hello"
										multiple
										directory
										webkitdirectory
										@input="handleChange"
									/>
								</label>
							</div>
							<div
								v-if="isLoading"
								class="alert alert-dismissible alert-secondary"
							>
								<h2>Loafing</h2>
								<p>THINKING SO HARD ABOUT ENCODING THE BINARY</p>
							</div>
							<div
								v-if="error"
								class="alert alert-danger"
							>
								<button
									type="button"
									class="close"
									data-dismiss="alert"
									@click="closeError"
								>×</button>
								<h2>Oh bother.</h2>
								<pre
									style="white-space: pre-wrap;"
								>{{error}}</pre>
								<p>Change a few things up and try dragging your <strong>scenario_source_files</strong> folder in again.</p>
							</div>
							<div
								v-if="downloadData"
								class="alert alert-secondary"
							>
								<button
									type="button"
									class="close"
									data-dismiss="alert"
									@click="closeSuccess"
								>×</button>
								<h2>Success!</h2>
								<p>Your scenario files were successfully build into a binary asset file that should be able to run in the game.</p>
								<div>
									<a
										v-bind="downloadData"
										class="
											btn
											btn-lg
											btn-success
											btn-block
											w-100
										"
									>Download <code>game.dat</code></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		data-original-src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"
		src="./dependencies/vue.js"
	></script>
	<script
		data-original-src="https://wzrd.in/debug-standalone/get-pixels@3.3.2/"
		src="./dependencies/get-pixels.js"
	></script>
	<script src="js/common.js"></script>
	<script src="js/maps.js"></script>
	<script src="js/tilesets.js"></script>
	<script src="js/animations.js"></script>
	<script src="js/entityTypes.js"></script>
	<script src="js/entities.js"></script>
	<script src="js/geometry.js"></script>
	<script src="js/strings.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/dialogs.js"></script>
	<script src="js/images.js"></script>
	<script src="js/index.js"></script>
</body>
</html>
