[submodule "Software/Bootloader/Adafruit_nRF52_Bootloader"]
	path = Software/Bootloader/Adafruit_nRF52_Bootloader
	url = https://github.com/hamster/Adafruit_nRF52_Bootloader
[submodule "emscripten"]
	path = emscripten
	url = https://github.com/emscripten-core/emsdk.git
