_build/
.cproject
.dep/
.project
.settings/
.idea/
*.tiled-session

# Ignore Cortex-Debug files
.cortex-debug.peripherals.state.json
.cortex-debug.registers.state.json
compile_commands.json

# Ignore audio files (temporarily)
SD_Card/AUDIO/

# Allow one audio file for testing
!SD_Card/AUDIO/Movement/Vehicles/sfx_vehicle_plainloop.wav
