/* .mgs {
	color: #D4D4D4;
}
.label { color: #C8C8C8; }
.control { color: #C586C0; }
.invalid { color: #f44747; }
.regex { color: #d16969; }
.string { color: #CE9178; }
.string-escape { color: #d7ba7d; }
.script { color: #DCDCAA; }
.number { color: #B5CEA8; }
.cm-number { color: #B5CEA8; }
.comment { color: #6A9955; }
.dialog-identifier { color: #4EC9B0; }
.sigil { color: #9CDCFE; }
.property { color: #9CDCFE; }
.target { color: #9CDCFE; }
.identifier { color: #9CDCFE; }
.variable-constant { color: #4FC1FF; }
.language-constant { color: #569CD6; }
.boolean { color: #569CD6; }
.verb { color: #569CD6;  }
.keyword { color: #569CD6;  }
.usused { color: #646695;  }
.tag { color: #808080; }
.operator { color: #D4D4D4; }
.comparator { color: #D4D4D4; }
.terminator { color: #D4D4D4; }
.bracket { color: #C586C0; }

.mgs {
	background-color: #fafafa;
	color: #333;
} 
.label { color: #000000; }
.control { color: #AF00DB; }
.invalid { color: #cd3131; }
.regex { color: #811f3f; }
.string { color: #a31515; }
.string-escape { color: #EE0000; }
.script { color: #795E26; }
.number { color: #098658; }
.comment { color: #008000; }
.dialog-identifier { color: #800000; }
.sigil { color: #001080; }
.property { color: #001080; }
.target { color: #001080; }
.identifier { color: #001080; }
.variable-constant { color: #0070C1; }
.language-constant { color: #0000ff;  }
.boolean { color: #0000ff;  }
.verb { color: #0000ff;  }
.keyword { color: #0000ff;  }
.usused { color: #811f3f;  }
.tag { color: #800000; }
.operator { color: #000000; }
.comparator { color: #000000; }
.terminator { color: #000000; }
.bracket { color: #AF00DB; }
*/
